.contact{
    position: relative;
    background: url(../../../../public/login-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container{
    padding-left: 50px;
    padding-right: 50px;
}

.content{
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    text-shadow: 0px 0px 10px #b91202;
    overflow: hidden;
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid rgba(185, 18, 2, 0.75);
  transition: all 1.2s ease;
  z-index: -50;
  border-radius: 5px;
}

.content::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.content::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.content:hover::before {
  width: 100%;
  height: 100%;
}

.content:hover::after {
  width: 100%;
  height: 100%;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #b91202;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-form input:focus, .contact-form textarea:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #b91202;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(185, 18, 2, .25);
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #b91202;
    border: 1px solid #b91202;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form button:hover {
    color: #b91202;
    background-color: white;
    border-color: #b91202;
}