<div class="container py-5 my-5">
  <div class="row pt-5 mt-5">
    <div class="col-md-6 text-center">
      <img src="./logo.png" class="img-fluid" alt="About Us" />
    </div>
    <div class="col-md-6 pt-3 px-5">
      <small class="text-uppercase" style="color: #b91202">About us</small>
      <h1 class="h2 mb-4" style="font-weight: 600">
        About <span style="color: #b91202" class="font-weight-bold">MealMate</span>
      </h1>
      <div class="text-secondary" style="line-height: 2">
        <p>Your go-to website for discovering delicious meals from around the world.</p>
        <div class="about-body" >
          <p style="margin: 0;">With MealMate, you can:</p>
          <ul  style="line-height: 1.7">
            <li>Explore meals by category.</li>
            <li>Search for recipes by name.</li>
            <li>
              View detailed meal information, including ingredients, instructions, and YouTube
              videos.
            </li>
            <li>Create an account and log in for a personalized experience.</li>
            <li>Save your favorite meals locally for quick access anytime.</li>
          </ul>
        </div>
        <p style="margin-top: 24px;">
          Our mission is to make cooking fun and easy for everyone — whether you’re just starting
          out in the kitchen or an experienced cook looking for fresh ideas.
        </p>
      </div>
    </div>
  </div>
</div>
