<div class="container py-5 my-5">
    <div class="row pt-5 mt-5">
        <div class="col-md-6 text-center">
            <img src="./logo.png" class="img-fluid" alt="About Us">
        </div>
        <div class="col-md-6 pt-3 px-5">
            <small class="text-uppercase" style="color: #b91202;">About us</small>
            <h1 class="h2 mb-4" style="font-weight: 600;">About
                <span style="color: #b91202;" class="font-weight-bold">MealMate</span></h1>
            <p class="text-secondary" style="line-height: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit repellat iure laboriosam cum voluptatum, nam minima deserunt aut? Distinctio voluptatibus dolor
                quaerat quo omnis illo sequi at velit, odit quod!</p>
        </div>
    </div>
</div>