<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid">
    <a class="navbar-brand pe-3" routerLink="/home" routerLinkActive="active">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-link" routerLink="/products" routerLinkActive="active">products</a>
        <a class="nav-link" routerLink="/search" routerLinkActive="active">search</a>
      </div>
    </div>
    <div class="navbar-nav">
      @if (authService.isLoggedIn()) {
      <button class=" nav-link btn" routerLink="/login" routerLinkActive="active" (click)="authService.logout()">Logout</button>
      } @else {
      <a class="nav-link btn" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link btn" routerLink="/registration" routerLinkActive="active">Registration</a>
      }
    </div>
  </div>
</nav>
