.custom-bg {
    background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}

.custom-btn:hover {
    background-color: #f3e8ff !important;
    transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .custom-bg {
        background: linear-gradient(to right, #1f2937, #111827);
        background-image: url(../../../../public/not-found-bg.jpg);
        background-size: cover;
        background-position: center;
        color: white !important;
    }

    .custom-btn {
        background-color: #b91202;
        border-color: #b91202;
        color: #fff;
    }

    .custom-btn:hover {
        color: #b91202;
        background-color: white;
        border-color: #b91202;
        box-shadow: 0 0 0 .25rem rgba(185, 18, 2, .25);
    }
}