<div class="cover py-5">
  <div class="container d-flex justify-content-center my-5 py-5">
    <div class="contant py-5 px-5">
      <div class="text-center">
        <h1>Register</h1>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
        <form class="contact-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <!-- Username -->
          <div class="mb-3">
            <label for="username" class="form-label">Full Name</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              id="username"
              aria-describedby="usernameHelp"
            />
            @if (registerForm.get('username')?.touched) {
            <div id="usernameHelp" class="form-text reg-alert">
              @if (registerForm.get('username')?.errors?.['required']) {
              <p>Username is required.</p>
              }
            </div>
            }
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
            @if (registerForm.get('email')?.touched) {
            <div class="form-text reg-alert">
              @if (registerForm.get('email')?.errors?.['required']) {
              <p>Email is required.</p>
              } @if (registerForm.get('email')?.errors?.['email']) {
              <p>Invalid email format.</p>
              } @if (registerForm.get('email')?.errors?.['pattern']) {
              <p>Please enter a valid email (pattern check).</p>
              }
            </div>
            }
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" />
            @if (registerForm.get('password')?.touched) {
            <div class="form-text reg-alert">
              @if (registerForm.get('password')?.errors?.['required']) {
              <p>Password is required.</p>
              } @if (registerForm.get('password')?.errors?.['pattern']) {
              <p>Password must be at least 8 characters with 2 letters minimum.</p>
              }
            </div>
            }
          </div>

          <!-- Buttons -->
          <div class="container d-flex justify-content-between p-0">
            <button [disabled]="registerForm.invalid" type="submit" class="btn-submit btn btn-primary">
              Submit
            </button>
            <button type="button" (click)="registerForm.reset()" class="btn-reset btn btn-warning">
              Reset
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
